 <div class="bg-white border-t border-gray-200 shadow-inner">
      <ul class="flex flex-col items-center gap-4 py-4 text-lg">
        @for (link of menuOptions; track link.route) {
          <li>
            <a
              routerLink="{{ link.route }}"
              routerLinkActive
              #rlaM="routerLinkActive"
              (click)="closeMenu.emit()" 
              [class]="
                rlaM.isActive
                  ? 'text-black border-b-2 border-[#00cc76]'
                  : 'text-black hover:text-[#00cc76] border-b-2 border-transparent'
              "
              class="transition font-medium pb-1"
            >
              {{ link.label }}
            </a>
          </li>
        }
      </ul>
    </div>
