 <div class="bg-white border-t border-gray-200 shadow-inner">
      <ul class="flex flex-col items-center gap-4 py-4 text-lg">
        @for (link of [
          { path: '/home', label: 'Inicio' },
          { path: '/temperature', label: 'Temperatura' },
          { path: '/power', label: 'Energía' }
        ]; track link.path) {
          <li>
            <a
              routerLink="{{ link.path }}"
              routerLinkActive
              #rlaM="routerLinkActive"
              (click)="closeMenu.emit()"
              [class]="
                rlaM.isActive
                  ? 'text-black border-b-2 border-[#00cc76]'
                  : 'text-black hover:text-[#00cc76] border-b-2 border-transparent'
              "
              class="transition font-medium pb-1"
            >
              {{ link.label }}
            </a>
          </li>
        }
      </ul>
    </div>
