@import "tailwindcss";

.chart-tooltip {
  transition: opacity 0.15s ease, transform 0.15s ease;
}

@theme {
  --color-base-footer: #002129;
  --color-temperature: #00cc76;
  --color-power: #7C3AED;
}
